@font-face {
	font-family: "Tungsten-Book";
	src: local("Tungsten-Book"),
		url("../src/assets/fonts/Tungsten-Book.otf") format("opentype");
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Tungsten-Book";
	font-size: 24px;
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
